<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <title>24H-CodING | Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" th:href="@{/resources/font-awesome-4.7.0/css/font-awesome.min.css}" href="/resources/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/resources/main.css}" href="/resources/main.css" />
</head>
<body>

<div class="wrapper">
    <div class="col-xs-12 header">
        <img src="/resources/logo.png" id="logo" alt="logo"/>
    </div>
    <div class="row">
        <div class="col-xs-12 no-padding item">
            <div class="orange">
                <img src="/resources/baner.png" alt="baner" class="img-responsive"/>
            </div>
        </div>
    </div>
    <div class="row margin-top-15">
        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            This option is no longer available. <br/>
        </div>
        Contact: <a class="decline-link" href="mailto:24hcoding@ing.com">24hcoding@ing.com</a>
    </div>
</div>
<!-- footer -->

<script src="/webjars/jquery/2.0.3/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>